body {
	width: 100%;
	height: 100%;
	background-image: url(image/background.png);/*이미지제작후 적용*/
	background-size:90%;
	/*적용시켜서 디테일 조정*/
	background-position: -120% 160%;
	background-repeat: no-repeat;
	background-color: white;/*추후 white*/
}
header {
	padding: 2% 0 2% 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6%;
	background-color: #1d467c;
	text-align: center;
}
header h1 {
	color: white;
	font-family: ;/*폰트 물어보고 파일받아서 로컬로 돌리기*/
	font-size: 1.5em;
	display: inline-block;
	margin-right: -10%;
}
.setup {
	background-color: transparent;
	background-image: url(image/setup.png);
	background-size: cover;
	display: inline-block;
	width: 8%;
	height: 82%;
	float: right;
	margin-top: 1%;
	margin-right: 2%;
	cursor: pointer;
}
#main-article {
	width: 100%;
	height: 100%;
	padding-top: 40%;
	text-align: center;
	vertical-align: middle;
}
#main-menu {
	margin-top: 10%;
	width: 74%;
	height: 100%;
	padding-left: 13%;
}
#main-menu li {
	width: 96%;
	height: 15%;
	padding: 6% 2%;
	margin-bottom:12%;
	text-align: center;
	vertical-align: middle;
	background-color: #1d467c;
}
#main-menu li div {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-image: url(image/ball.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin-left: 2%;
}
#main-menu li p {
	font-family: ;/*폰트 물어봐서 파일받아 로컬로 적용시키기*/
	font-size: 1.4em;
	color:white;
}
#setup-page {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}
#setup-header {
	padding: 2% 0 2% 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 6%;
	background-color: #1d467c;
	text-align: center;
}
.back {
	width: 8%;
	height: 80%;
	background-color: transparent;
	background-image: url(image/back.png);
	background-size: 100% 100%;
	float: left;
	margin-top: 1%;
	margin-left: 2%;
	cursor: pointer;
}
#setup-header h1 {
	font-family: ;/*폰트 물어보서 파일받아 로컬로 적용*/
	font-size: 1.5em;
	color: white;
	margin-right: 10%;
}
#setup-article {
	width: 100%;
	height: 100%;
	padding-left: 6%;
	padding-right: -6%;
	background-color: white;
	background-image: url(image/background.png);
	background-size: 88%;
	background-position: -120% 102%;
	background-repeat: no-repeat;
	text-align: none;
	background-color: rgba(29, 70, 124, .5);
}
#setup-article h3 {
	font-family: ;/*추후 수정*/
	color: black;
	font-size: 0.9em;
	margin-bottom: 1%;
}
#setup-article h3:first-of-type {
	padding-top:20%;
}
#setup-user {
	font-family: ;/*나눔고딕*/
	width: 76%;
	height: 33%;
	padding: 3% 5%;
	background-color: white;
	margin-bottom: 5%;
}
#setup-user h3 {
	font-size: .9em;
	margin-top: 5%;
}
#setup-user h3:first-child {
	margin-top: -20%;
}
#form-name {
	border: none;
	border-bottom: 1px solid #1d467c;
	width: 55%;
	margin-top: 2%;
	margin-right: 5%;
	padding-left: 4%;
	font-size: 1.2em;
	font-family: ;/*추후수정*/
}
button {
	border: 0px solid #1d467c;
	background-color: #1d467c;
	color: white;
	font-family: ;/*추후수정*/
	font-size: .8em;
	font-weight: bold;
	padding: 2% 5%;
}
#setup-user h2 {
	display: inline-block;
	position: relative;
	top: -6px;
	font-size: 1.05em;
	margin-left: 2%;
}
#setup-user h4 {
	display: inline-block;
	font-size: 1.1em;
	margin-left: 3%;
	margin-top: 1%;
}
#setup-theme {
	width: 80%;
	height: 10%;
	padding: 5%;
	background-color: white;
}
.onoffswitch {
    position: relative;
    width: 20%;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: inline-block;
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #1d467c;
    border-radius: 10px;
    top: 0px;
}
.onoffswitch-inner {
    display: inline-block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: inline-block; 
    float: left; 
    width: 50%; 
    height: 14px;
    padding: 0; 
    line-height: 14px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
	display: inline-block;
    content: "ON";
    padding-left: 10px;
    background-color: transparent; 
    color: #1d467c;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: transparent; 
    color: #1d467c;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 15px; 
    height: 15px;
    margin: 0 6px;
    background: #1d467c;
    position: absolute; 
    top: 3px; 
    bottom: 0;
    right: 38px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
#setup-theme {
	font-family: ;/*나눔고딕*/
	width: 76%;
	height: 9%;
	padding: 3% 5%;
	background-color: white;
}
#select-logo {
	display: inline-block;
	font-family: ;/*추후수정*/
	font-size: .8em;
	vertical-align: middle;
}
#select-logo img {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: transparent;/*추후삭제*/
}
#select-logo p {
	display: inline-block;
	position: relative;
	bottom: 20px;
	left: 10px;
	margin-right: 50px;
}
#setup-theme-bg {
	display: none;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top:0;
	left: 0;
}
#setup-theme-select {
	display: none;
	position: absolute;
	top: 16%;
	left: 6%;
	font-family: ;/*나눔고딕*/
	width: 88%;
	height: 62%;
	background-color: white;
}
#setup-theme-select div {
	width: 90%;
	height: 8%;
	background-color: #1d467c;
	padding: 3% 5% 2%;
	color: white;
	font-family: ;/*추후수정*/
	font-size: 1.1em;
	text-align: left;
}
#theme-logo {
	width: 100%;
	height: 80%;
	margin-top: 5%;
}
#theme-logo li {
	display: inline-block;
	width: 25%;
	height: 23%;
	margin: 0 2% 1%;
	border-radius: 5px;
	background-color: transparent;
	background-size: 100% 100%;
}
#theme-logo li:active {
	border: 3px solid #1d467c;
	translate : all 1s 1s ease;
	-webkit-translate : all 1s 1s ease;
	-moz-translate : all 1s 1s ease;
}
#theme-logo li:nth-of-type(3n-2) {
	margin-left: 7%;
}
#theme-logo li:nth-of-type(3n) {
	margin-right: 0;
}
#logo-sansung {
	background-image: url(image/SANSUNG.png);
}
#logo-doosan {
	background-image: url(image/DOOSAN.png);
}
#logo-nc {
	background-image: url(image/NC.png);
}
#logo-lg {
	background-image: url(image/LG.png);
}
#logo-lotte {
	background-image: url(image/LOTTE.png);
}
#logo-kia {
	background-image: url(image/KIA.png);
}
#logo-sk {
	background-image: url(image/SK.png);
}
#logo-nexen {
	background-image: url(image/NEXEN.png);
}
#logo-hanhwa {
	background-image: url(image/HANHWA.png);
}
#logo-kt {
	background-image: url(image/KT.png);
}
#setup-theme-select button {
	width: 20%;
	height: 8%;
	background-color: #1d467c;
	color: white;
	font-family: ;/*추후수정*/
	font-size: 0.75em;
	float: right;
	margin-top: -10%;
	margin-right: 7%;
}
.back-to-h1 {
	font-family: ;/*폰트 물어보서 파일받아 로컬로 적용*/
	font-size: 1.5em;
	color: white;
	margin-right: 10%;
	display: inline-block;
	margin-top: 0;
}
#emoticon-main {
	width: 100%;
	height: 20%;
	border-bottom: 2.5px solid #1d467c;
	padding-top: 14%;
}
#emoticon-main span {
	width: 48%;
	height: 10%;
	text-align: center;
	padding: 2% 1%;
	margin: 0;
	font-family: ;/*추후수정*/
	font-size: 1.2em;
	border-bottom: 2.5px solid #1d467c;
}
#emoticon-friends {
	float: left;
	background-color: #5b8eba;
	color: white;
}
#emoticon-talkroom {
	float: right;
	background-color: white;
	color: #1d467c;
}
#emoticon-bg {
	width:100%;
	height: 100%;
	background-color: white;
}
#emoticon-friend-main {
	width: 100%;
	height: 100%;
	background-image: url(image/background.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: -40% 90%;
}
#emoticon-friend-main form {
	width: 100%;
	background-color: white;
	text-align: center;
	border-bottom: 2.75px solid #5b8eba;
}
#form-search {
	margin: 1% 0 1.5%;
	border: none;
	border-bottom: 2.5px solid #1d467c;
	text-align: center;
	color: #1d467c;
}
#emoticon-search {
	display: inline-block;
	width: 7%;
	float: right;
	margin-top: 1%;
	margin-right: 1%;
}
#emoticon-friend-main li {
	border-bottom: 1.5px solid #5b8eba;
	padding: 1.5% 5%;
}
#emoticon-friend-main li:first-of-type {
	font-size: .5em;
	padding: 1% 3%;
}
#emoticon-friend-select {
	display: none;
	position: absolute;
	top: 35%;
	left: 7%;
	width: 86%;
	background-color: white;
	color: black;
	border-radius: 15px;
}
#emoticon-friend-select div {
	padding: 9% 0;
	text-align: center;
	font-family: ;/*추후수정*/
	font-size: 1.5em;
}
#emoticon-friend-select div:last-of-type {
	background-color: #1d467c;
	color: white;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#emoticon-talkroom-main {
	display: none;
	position: absolute;
	top: 14.5%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
}
#emoticon-talkroom-main > div{
	width: 100%;
	height: 100%;
	background-image: url(image/background.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: -40% 42%;
}
.onoffswitch-talk {
    position: relative;
    width: 20%;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox-talk {
    display: none;
}
.onoffswitch-label-talk {
    display: inline-block;
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #1d467c;
    border-radius: 10px;
    top: -20px;
}
.onoffswitch-inner-talk {
    display: inline-block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner-talk:before, .onoffswitch-inner-talk:after {
    display: inline-block; 
    float: left; 
    width: 50%; 
    height: 14px;
    padding: 0; 
    line-height: 14px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner-talk:before {
	display: inline-block;
    content: "ON";
    padding-left: 10px;
    background-color: transparent; 
    color: #1d467c;
}
.onoffswitch-inner-talk:after {
    content: "OFF";
    padding-right: 10px;
    background-color: transparent; 
    color: #1d467c;
    text-align: right;
}
.onoffswitch-switch-talk {
    display: block; 
    width: 15px; 
    height: 15px;
    margin: 0 6px;
    background: #1d467c;
    position: absolute; 
    top: 3px; 
    bottom: 0;
    right: 80px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox-talk:checked + .onoffswitch-label-talk .onoffswitch-inner-talk {
    margin-left: 0;
}
.onoffswitch-checkbox-talk:checked + .onoffswitch-label-talk .onoffswitch-switch-talk {
    right: 0px; 
}
#emoticon-talkroom-select {
}
#emoticon-talkroom-select li {
	width: 100%;
	height: 20%;
	border-bottom: 3px solid #1d467c;
	vertical-align: middle;
}
#emoticon-talkroom-select li div {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 2px solid #1d467c;
	margin-top: 1%;
	margin-left: 5%;
	border-radius: 15px;
	background-size: 100% 100%;
}
#emti1 {
	background-image: url(image/emotion2.jpg);
}
#emti2 {
	background-image: url(image/emotion2.jpg);
}
#emti3 {
	background-image: url(image/emotion2.jpg);
}
#emti4 {
	background-image: url(image/emotion2.jpg);
}
.join-talkroom {
	padding: 1% 20% 1% 5%;
}
.join-talkroom span {
	display: inline-block;
	position: relative;
	bottom: 10px;
}
.onoffswitch-label {
	position: relative;
	bottom: 18px;
}
#emoticon-talkroom-room {
	display: none;
	position: absolute;
	top: 8%;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-top: 5%;
	background-color: white;
}
#emoticon-talkroom-room header h1 {
	margin-left: -10%;
}
#emoticon-talkroom-room article {
	width: 100%;
	height: 100%;
	background-image: url(image/background.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: -39% 48.5%;
}
#emoticon-talkroom-addfriends {
	width: 8.2%;
	height: 82%;
	background-color: transparent;
	background-image: url(image/adds.png);
	background-size: cover;
	float: right;
	margin-top: 1%;
	margin-right: 2%;
}
#emoticon-talkroom-room h4 {
	display: none;
	position: absolute;
	left: 23%;
	text-align: center;
	width: 50%;
	height: 20%;
	border: 2px solid #1d467c;
	background-color: white;/*추후삭제*/
}
#emoticon-talkroom-room sup {
	margin-left: 3%;
	font-family: ;/*추후수정*/
	font-size: 1em;
}
.emoticon-talkroom-emotion-you {
	margin-left: 7%;
	margin-bottom: 3%;
	width: 100px;
	height: 100px;
	border: 3px solid #1d467c;
	border-radius: 15px;
	background-image: url(image/emotion2.jpg);
	background-size: cover;
	background-color: transparent;
}
.emoticon-talkroom-emotion-you:nth-of-type(2) {
	display: inline-block;
}
.emoticon-talkroom-time-you {
	display: inline-block;
	margin-left: 1%;
	position: relative;
	bottom: 20px;
}
.emoticon-talkroom-time-me {
	display: inline-block;
	float: right;
	margin-right: 3%;
	position: relative;
	top: 80px;
}
.emoticon-talkroom-emotion-me {
	display: inline-block;
	float: right;
	margin-right: 7%;
	width: 100px;
	height: 100px;
	border: 3px solid #1d467c;
	border-radius: 15px;
	background-image: url(image/emotion2.jpg);
	background-size: cover;
	background-color: transparent;
}
#fixed-emotion {
	position: fixed;
	bottom: 26%;
	right: 2%;
	width: 15%;
	height: 9%;
	background-image: url(image/emoticon.png);
	background-color: transparent;
	background-size: cover;
}
#emotion-select {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 23%;
	padding-top: 5%;
	text-align: center;
	border-top: 10px solid #1d467c;
	overflow-y: scroll;
	background-color: white;
}
#emotion-select::-webkit-scrollbar{
	width:8px;
	padding-top:5%;
	padding-bottom:5%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
} 
#emotion-select::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
}
#emotion-select::-webkit-scrollbar-thumb {
  	background-color: rgb(29, 70, 124);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#emotion-select li {
	display: inline-block;
	margin: 2%;
	width: 25%;
	height: 65%;
	border-radius: 10px;
	background-size: cover;
}
#emoticon1{
	background-image: url(image/emotion1.jpg);
}
#emoticon2{
	background-image: url(image/emotion2.jpg);
}
#emoticon3{
	background-image: url(image/emotion3.jpg);
}
#emoticon4{
	background-image: url(image/emotion4.jpg);
}
#emoticon5{
	background-image: url(image/emotion5.jpg);
}
#emoticon6{
	background-image: url(image/emotion6.jpg);
}
#emoticon7{
	background-image: url(image/emotion7.jpg);
}
#emoticon8{
	background-image: url(image/emotion8.jpg);
}
#emoticon9{
	background-image: url(image/emotion9.jpg);
}
#emoticon10{
	background-image: url(image/emotion10.jpg);
}
#emoticon11{
	background-image: url(image/emotion11.jpg);
}
#add-friends {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}
#add-friends h1 {
	font-size: 1.3em;
	margin-top: 1%;
	margin-right: -15%;
}
#add-friends button {
	float: right;
	border: 2px solid white;
	border-radius: 5px;
	padding: 1% 3%;
	margin-top: 2%;
	margin-right: 2%;
}
#add-friends li {
	padding: 2% 0;
	padding-left: 5%;
	border-bottom: 2px solid #1d467c;
	background-color: rgba(29, 70, 124, .5);
}
#add-friends li:first-of-type {
	font-size: .5em;
	padding: 1% 0;
	padding-left: 2%;
}
#ticket-header h1 {
	margin-left: -10%;
}
.add-ticket {
	width: 8%;
	height: 80%;
	background-color: transparent;
	background-image: url(image/adds.png);
	background-size: cover;
	float: right;
	margin-top: 1%;
	margin-right: 2%;
}
#ticket-main {
	padding-top: 15%;
	background-color: white;
}
#ticket-barcodes {
	padding: 1.5% 3%;
}
#ticket-barcodes sup {
	font-family: ;/*추후수정*/
	font-size: .9em;
}
#ticket-barcodes sup:nth-of-type(2) {
	float: right;
}
#ticket-barcodes div {
	clear: both;
	text-align: center;
	width: 100%;
	height: 40%;
}
#barcode-img {
	width: 70%;
}
#ticket-usage-record {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 57.5%;
	overflow-y: scroll;
}
#ticket-usage-record::-webkit-scrollbar {
	display: none;
}
#ticket-usage-record li {
	height: 10%;
	padding: 4% 3%;
	border-bottom: 1px solid #1d467c;
}
#ticket-usage-record li:first-of-type {
	position: fixed;
	width: 100%;
	height: 5%;
	padding: 2% 3% 1%;
	background-color: #1d467c;
	color: white;
}
#ticket-usage-record li:nth-of-type(2) {
	margin-top: 10%;
}
#ticket-usage-record li sup {
	display: block;
}
#ticket-usage-record li div {
	display: inline-block;
	margin-top: 1%;
	font-family: ;/*추후수정*/
	font-size: .9em;
	width: 52%;
	letter-spacing: -.5px;
}
#ticket-usage-record li span {
	font-size: .6em;
}
#ticket-add-code {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	padding-top: 30%;
}
#ticket-add-code h1 {
	margin-left: -20%;
}
#ticket-insert-code h3 {
	float: left;
	padding-left: 10%;
	padding-bottom: 2%;
	font-size: .9em;
}
#ticket-add-code form {
	clear: both;
	background-color: #1d467c;
	width: 70%;
	padding: 4% 5%;
	color: white;
	margin-left: 10%;
}
.form-code {
	width: 15%;
	text-align: center;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: white;
}
#ticket-insert-code button {
	margin-top: 3%;
}
#ticket-bt {
	font-size: 1.2em;
	padding: 4% 10%;
	margin-top: 60%;
}
#card-header h1 {
	margin-left: -20%;
}
#card-bg {
	background-color: white;
	width: 100%;
	height: 800px;
}
#card-main {
	padding-top: 53%;
	text-align: center;
	background-color: white;
}
#card-main h1 {
	font-size: 1.5em;
	margin-bottom: 12%;
}
#card-main div {
	cursor: pointer;
	width: 80%;
	height: 10%;
	padding: 4% 0;
	margin-top: 5%;
	background-color: #1d467c;
	color: white;
	font-size: 1.2em;
	margin-left: 10%;
}
#card-record-card {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}
#card-record-card h1 {
	margin-left: -20%;
}
#card-record-card-form {
	padding-top: 17%;
}
#card-record-card-form div {
	color: #1d467c;
	text-align: center;
	border-bottom: 1px solid #1d467c;
}
#card-record-card-form sub {
	display: block;
	font-size: .4em;
	margin: 2% 0 3%;
}
#card-record-card-form form {
	margin: 16% 0 20% 8%;
}
#card-record-card-form li {
	border: 2px solid #1d467c;
	width: 85%;
	padding: 2.5% 2%;
	margin-bottom: -.5%;
}
#card-record-card-form input[type="text"] {
	border: none;
	width: 50%;
}
#card-record-card-form span {
	display: inline-block;
	font-size: .7em;
	color: #1d467c;
	width: 50%;
}
#card-record-card-form div:last-of-type {
	color: white;
}
.card-submit {
	border: none;
	cursor: pointer;
	width: 70%;
	height: 10%;
	color: white;
	background-color: #1d467c;
	padding: 3% 5%;
	margin-left: 10%;
	margin-top: 30%;
	font-size: 1.2em;
}
#card-record-Tmoney {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}
#card-record-Tmoney h1 {
	margin-left: -20%;
}
#card-Tmoney-form {
	padding-top: 35%;
}
#card-Tmoney-form h3 {
	font-family: ;/*추후수정*/
	font-size: .9em;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 3%;
}
#card-Tmoney-form form {
	margin-left: 10%;
}
.card-Tmoney-login {
	width: 80%;
	height: 15%;
	padding: 5% 5%;
	margin-left: 0;
	background-color: #1d467c;
	text-align: center;
	margin-bottom: 5%;
}
#card-Tmoney-form input[type="text"], #card-Tmoney-form input[type="password"] {
	text-align: center;
	border: none;
	width: 80%;
	background-color: transparent;
	color: white;
	font-size: 1em;
}
 #card-Tmoney-form input[type="password"] {
 	font-size: 1.5em;
 }
#Tmoney-submit {
	text-align: center;
	margin-top: 25%;
}
#card-recorded {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	padding-top: 15%;
}
#card-recorded header h1 {
	font-size: 1.1em;
	margin-top: 2%;
	margin-left: -10%;
}
#card-recorded header div {
	width: 8%;
	height: 80%;
	background-color: transparent;
	background-image: url(image/adds.png);
	background-size: cover;
	float: right;
	margin-top: 1%;
	margin-right: 2%;
}
#card-recorded-form {
	padding: 3% 5%;
}
#card-recorded-late {
	text-align: center;
	font-size: 2.7em;
}
#card-recorded-form ul {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 65%;
	overflow-y: scroll;
	background-color: white;
}
#card-recorded-form li {
	padding: 3% 4%;
	border-bottom: 1px solid #1d467c;
}
#card-recorded-form li:first-of-type {
	position: fixed;
	padding: 3% 4%;
	width: 100%;
	background-color: #1d467c;
	color: white;
}
#card-recorded-form li:nth-of-type(2) {
	margin-top: 13%;
}
#card-recorded-form li span {
	float: right;
	font-size: .8em;
}
#card-recorded-form ul::-webkit-scrollbar{
	width: 8px;
	margin-top: 30px;
	background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: none;
} 
#card-recorded-form ul::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#card-recorded-form ul::-webkit-scrollbar-thumb {
  	background-color: rgb(29, 70, 124);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}